@use "variables";


.checkbox {
    position: absolute;
    z-index: 3;
    top: 55px;
    left: 38%;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 25px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 25px;
        border-radius: 15px;
        background-color: $light-border-color;
        transition: all 0.3s cubic-bezier(.19, .64, .96, .41);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 3px;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background-color: $dark-text-color;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.3s cubic-bezier(.19, .64, .96, .41);
    }

    &:checked::before {
        background-color: $dark-accent-color;
    }

    &:checked::after {
        transform: translateX(25px);
    }

    &:focus-within::before {
        box-shadow: 0px 0px 5px $light-accent-color;
    }

    &:hover::before,
    &:focus::before {
        background-color: $light-border-color;
    }

    &:focus-within:hover::before {
        background-color: $light-accent-color;
    }

    &:checked+.box {

        & {
            background: $dark-bg-color;
            background-image: linear-gradient(200.11deg, rgba(22, 25, 38, 0) 46.73%, #161926 63.21%),
                url('../images/first-bg.jpg');
            background-size: 100% 20%;
            background-position: top;
            background-repeat: no-repeat;
            object-fit: cover;
        }

        .header {
            color: $dark-text-color;
        }

        .link-logo {

            &:hover .logo-icon use,
            &:focus .logo-icon use {
                fill: $light-accent-border-color;
            }
        }

        .nav {
            &-list {
                color: $dark-text-color;
            }

            &-item {
                &::before {
                    background: $dark-button-color;
                    opacity: 0.3;
                    transition: all 0.3s cubic-bezier(.19, .64, .96, .41);
                }
            }
        }

        .activ {
            &::after {
                background: rgba(83, 243, 205, 0.3);
                transition: all 0.3s cubic-bezier(.19, .64, .96, .41);
            }
        }

        .main {
            color: $dark-text-color;
        }

        .title-colors {
            color: $dark-accent-color;
        }

        .button {
            background-color: inherit;
            color: $dark-button-color;

            &::after {
                background: $dark-button-color;
            }

            &:hover,
            &:focus {
                color: $dark-button-hover-color;

                &::after {
                    background: $dark-button-hover-color;
                }
            }
        }

        .news-box {
            background: #161926;
            opacity: 0.9;
        }

        .about-item:not(:last-child)::after {
            border-bottom: 1px solid $dark-accent-color;
        }

        .benefits-item {
            border-top: 1px solid $dark-border-color;
        }

        .quote {
            color: $light-text-color;

            &-text {
                &::before {
                    background: url(../images/quote-icon.png);
                    background-repeat: no-repeat;
                    object-fit: cover;
                }
            }
        }

        .promises-text-box {
            background: $dark-bg-color;
            opacity: 0.9;

        }

        .promises {
            &-button {

                &:hover,
                &:focus {
                    border: 1px solid $dark-button-hover-color;
                }
            }
        }

        .footer {
            color: $dark-text-color;

            &-box {
                border-top: 1px solid $dark-border-color;
                border-bottom: 1px solid $dark-border-color;
            }

            .text-last {

                opacity: 0.6;
            }

            &-form {
                background-color: $dark-bg-color;
            }

        }

        .form {
            &-item {
                border-bottom: 1px solid $dark-border-color;
                background: $dark-bg-color;
                color: $dark-text-color;
                font-size: 18px;

                &::placeholder {
                    color: $dark-text-color;
                    background-color: $dark-bg-color;
                    opacity: 0.8;
                    font-size: 18px;
                }

                &:focus {
                    background-color: $dark-bg-color;
                    border-bottom: 1px solid $dark-border-color;
                    opacity: 0.8;
                }
            }
        }

        .text-last {
            color: $dark-text-color;
        }
    }
}