@use "variables";

body {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
}

.container {
  padding: 0 35px;
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}


a {
  cursor: pointer;

}

.box {
  background-image: linear-gradient(359deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%),
    url('../images/first-screen-bg.jpg');
  background-size: 100% 20%;
  background-position: top;
  background-repeat: no-repeat;
  object-fit: cover;
}

button {
  outline: 0;
}