// Colors Dark 

$dark-bg-color: #161926;
$dark-text-color: #ffffff;
$dark-accent-color: #689FF2;
$dark-button-color: #68eecf;
$dark-button-hover-color: #05b98f;

$dark-border-color: #515773;

// Colors Light

$light-bg-color: #ffffff;
$light-text-color: #262A3F;
$light-accent-color: #85BBB1;
$light-button-color: #F1897B;
$light-button-hover-color:#E54F3A;
$light-accent-border-color: #85BBB1; //=dark
$light-border-color: #E4E4E4;

// Fonts

$font-main: 'Lato300',
sans-serif;
$title-font: 'PlayfairDisplay400',
serif;
$nav-font: 'Lato400',
sans-serif;
$button-font: 'Lato700',
sans-serif;
$accent-font: 'PlayfairDisplayItalic';